<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kunden und Post{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_rolf-janssen_2024.svg') }}" type="image/svg+xml">
    <script>
        const theme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', theme);
    </script>
</head>

<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/logo_rolf-janssen_2024.svg') }}" alt="Rolf Janssen GmbH Logo"
                id="header-logo">
            <h1>Kunden und Post</h1>
        </div>
        <nav id="main-nav">
            <div class="nav-item">
                <a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Start</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('verwaltung') }}"
                    class="{{ 'active' if request.endpoint in ['verwaltung', 'mitarbeiter_bearbeiten', 'kunde_bearbeiten'] else '' }}">Verwaltung</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('uebersicht') }}"
                    class="{{ 'active' if request.endpoint == 'uebersicht' else '' }}">Übersicht</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('export_page') }}"
                    class="{{ 'active' if request.endpoint == 'export_page' else '' }}">Export</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('settings') }}"
                    class="{{ 'active' if request.endpoint == 'settings' else '' }}">Einstellungen</a>
            </div>
            <div class="nav-slider"></div>
        </nav>
        <div class="header-right"></div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; Oliver Schmidt</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>