<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{% if kontakt %}Kontakt bearbeiten{% else %}Neuer Kontakt{% endif %}{% endblock %}

{% block content %}
<div id="kontakt-editor-app">
    <h1><span v-text="vorlage.name"></span>: {% if kontakt %}Kontakt bearbeiten{% else %}Neuen Kontakt anlegen{% endif
        %}</h1>
    <div class="card">
        <form :action="actionUrl" method="post">
        </form>
    </div>
</div>
<script type="application/json" id="vorlage-for-json-data">{{ vorlage_for_json|safe }}</script>
<script type="application/json" id="kontakt-daten-for-json-data">{{ kontakt_daten_for_json|safe }}</script>
<script type="application/json" id="action-url-data">{{ action_url|tojson|safe }}</script>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="{{ url_for('static', filename='js/kontakt_editor.js') }}"></script>
{% endblock %}