<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Vorlagen-Editor{% endblock %}

{% block head_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vorlage_editor.css') }}">
{% endblock %}

{% block content %}
<div id="vorlage-editor-app">
    <div class="actions-header">
        <h1>{[ pageTitle ]}</h1>
        <div class="button-group">
            <a href="{{ url_for('vorlagen.verwalten') }}" class="button secondary">Abbrechen</a>
            <button @click="saveVorlage" class="button">Vorlage Speichern</button>
        </div>
    </div>
</div>

<script type="application/json" id="vorlage-data">{{ vorlage_data|safe }}</script>
<script type="application/json" id="action-url-data">{{ action_url|tojson|safe }}</script>
<script type="application/json" id="all-vorlagen-data">{{ all_vorlagen_data|safe }}</script>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="{{ url_for('static', filename='js/vorlage_editor.js') }}"></script>
{% endblock %}